@page
@model GroupIS1024.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<div class="container">
    <div class="header">
        <div class="main-header">
            <h1>Teams List</h1>
        </div>
        <div class="sub-header">
            <h3>Find Fantasy Teams here</h3>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].TeamName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Team)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.TeamId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.TeamId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.TeamId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
