@page
@model GroupIS1024.Pages.LearntheLeagueModel
@{
    List<Franchise> franchises = (List<Franchise>) ViewData["Franchises"];
}
<div class="text-center">
    <table>
        <tr>
            <th>FullName</th>
            <th>Abbreviation</th>
            <th>City</th>
            <th>Conference</th>
            <th>Division</th>

        </tr>
    @{
        foreach (Franchise franchise in franchises)
        {
                <tr>
                    <td>@franchise.FullName</td>
                    <td>@franchise.Abbreviation</td>
                    <td>@franchise.City</td>
                    <td>@franchise.Conference</td>
                    <td>@franchise.Division</td>

                </tr>
        }
    }
</table>
</div>