@page
@model GroupIS1024.Pages.NewsModel
@{
    List<Sport> sports = (List<Sport>) ViewData["Sports"];
}
<div class="text-center">
    <table>
        <tr>
            <th>Author</th>
            <th>Content</th>
            <th>Title</th>
            <th>Time</th>
            <th>URL</th>

        </tr>
    @{
        foreach (Sport sport in sports)
        {
                <tr>
                    <td>@sport.Author</td>
                    <td>@sport.Content</td>
                    <td>@sport.Title</td>
                    <td>@sport.Time</td>
                    <td>@sport.ReadMoreUrl</td>

                </tr>
        }
    }
</table>
</div>