@page
@using GroupIS1024
@model NFLOverviewModel
@{
    List<Franchise> franchises = (List<Franchise>)ViewData["Franchises"];
}
<div class="text-center">

    <h1 class="display-4">Welcome to FF</h1>
    <p>Catalog your plants, where they are, when they have been watered and fertilized.</p>
    <p>We're glad you're here!</p>
    <table>
        <tr>
            <th>Plant ID</th>
            <th>Specimen ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Address</th>
        </tr>
        @{
            foreach (Franchise franchise in franchises)
            {
                <tr>
                    <td>@franchise.Team.Name</td>
                    <td>@franchise.Team.ShortDisplayName</td>
                    <td>@franchise.Team.Location</td>
                    <td>@franchise.Team.Color</td>
                    <td>@franchise.Team.Logos</td>
                </tr>
            }
        }

    </table>

</div>